<% provide(:title, @user.name) %>
<!-- 
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div> -->


<p id="notice"><%= notice %></p>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome, <%= @user.name %>!</h1>
      <p class="lead">
        <strong>Email: </strong><%= @user.email %><br/>
        <strong>Chechin number:</strong><%= @user.chechin_number %><br/>
        <strong>Coins:</strong><%= @user.coins %>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <strong>Challenge number: </strong><%= @user.challenge_number %> -->
      </p>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-lg" %>

      <!-- Active Dropdown -->
      <%# if !@user.challenges.empty? %>
        <!-- <h3 class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Active Challenges<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @user.challenges.all.each do |challenge| %>
              <li><%= link_to challenge.name, challenge %></li>
            <% end %>
          </ul>
        </h3> -->
      <%# end %>
    </header>


    <h1>Active Chanllenges</h1><br/> 

    <div class="row text-center">
      <% @user.challenges.all.each do |challenge| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= challenge.name %></h4>
              <!-- <h4> <%= link_to challenge.name, challenge, class: "card-title" %></h4> -->
              <p class="card-text"><%= challenge.description[0..100]+"..." %></p>
            </div>
            <div class="card-footer">
              <%= link_to "Details", challenge, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.row -->

    <h1>Favorite Chanllenges</h1><br/> 

    <div class="row text-center">
      <% @user.favorites.all.each do |challenge| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= challenge.name %></h4>
              <!-- <h4> <%= link_to challenge.name, challenge, class: "card-title" %></h4> -->
              <p class="card-text"><%= challenge.description[0..100]+"..." %></p>
            </div>
            <div class="card-footer">
              <%= link_to "Details", challenge, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.row -->


    <h1>Past Chanllenges</h1><br/> 

    <div class="row text-center">
      <% @user.histories.all.each do |challenge| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= challenge.name %></h4>
              <!-- <h4> <%= link_to challenge.name, challenge, class: "card-title" %></h4> -->
              <p class="card-text"><%= challenge.description[0..100]+"..." %></p>
            </div>
            <div class="card-footer">
              <%= link_to "Details", challenge, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->


<%= render 'shared/add_btn'%>
