<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<!-- Page Content -->
<div class="container">


<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= gravatar_for (@user) %>
          <%= @user.name %>
        </h1>
      </section>
    </aside>
  </div>
  <h1 class="display-3"><%= welcome(@user) %></h1>
  <p class="lead">
    <strong>Email: </strong><%= @user.email %><br/>
    <strong>Checkin number:</strong><%= @user.chechin_number %><br/>
    <strong>Coins:</strong><%= @user.coins %>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <strong>Challenge number: </strong><%= @user.challenge_number %> -->
  </p>
  <% if current_user?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary btn-lg" %>
  <% end %>
</header>


  <%#= form_with(url: "/search", method: :get, local: true) do %>
  <%# if current_user?(@user) %>
    <%= form_with(url: search_result_path, method: :get, remote: true) do |f| %>
      <%=hidden_field_tag(:user_id, @user.id)%>
      <div class="row align-items-start">
        <div class="col col-4">
          <%= select_tag(:challenge_cate,
                         raw('<option value="1">Active Challenges</option><option value="2">Past Challenges</option><option value="3">Favorite Challenges</option>'),
                         options = {class: "form-control", onchange: "doSearch()"}) %>
        </div>
        <div class="col col-4">
          <%= text_field_tag(:q, value = nil, options = {placeholder: "search challenge name", class: "form-control", onkeydown: "doSearch()"}) %>
        </div>
<!--        <div class="col col-4">-->
          <%= f.submit "Search", class: "btn btn-primary", id: "search", style: "display:none" %>
          <%#= submit_tag("Search", class: "btn btn-primary") %>
<!--        </div>-->
      </div>
    <% end %>

    <div id="search_result"></div>
  <%# end %>
<%= render 'shared/add_btn' %>

</div>



<script>
  function doSearch() {
      document.getElementById("search").click();
  }
</script>
<script>
    doSearch();
</script>