<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Coins:</strong>
  <%= @user.coins %>
</p>

<p>
  <strong>Chechin number:</strong>
  <%= @user.chechin_number %>
</p>

<p>
  <strong>Challenge number:</strong>
  <%= @user.challenge_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
