<%# <form action=""> %>
<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!--  General -->
  <div class='container'>
  <div class="form-group">
    <%# <h2 class="heading">New Challenge</h2> %>
    <div class="row">
      <div class="col-md-6">
        <%= form.text_field :name, placeholder: "Challenge Name*", class: 'form-control' %>
      </div>
      <div class="col-md-6">
        <%= form.select(:category, Challenge.distinct.pluck(:category) {|c| [c.category, c.category] }, {prompt: "Category*"}, class: "form-control custom-select") %>
      </div>
    </div>
  
  <div class="row">
    <div class="col-auto" style="width: 10%; padding-top: .5rem">
      <span>Deadline*</span>
    </div>
    <div class="col-sm">
      <select id="challenge_deadline_1i" name="challenge[deadline(1i)]" class="form-control custom-selectd">
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
      </select>
    </div>

    <div class="col-sm">
      <select id="challenge_deadline_2i" name="challenge[deadline(2i)]" class="form-control custom-selectd">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
    </div>

    <div class="col-sm">
      <select id="challenge_deadline_3i" name="challenge[deadline(3i)]" class="form-control custom-selectd">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
    </div>
  </div>

    <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <%= form.text_area :description, placeholder: "Description*", class: 'form-control', style: "width: 100%; height: 165px;" %>
                  </div>                  
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <%= form.number_field :coins, placeholder: "Coins*", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                      <%= form.number_field :duration, placeholder: "Duration*", class: 'form-control' %>
                  </div>
                  <div class="form-group">
                      <input type="submit" name="btnSubmit" class="readmore" value="Create Challenge" />
                  </div>
              </div>
    </div>

<% end %>

<%# <script>
(function($){
	function floatLabel(inputType){
		$(inputType).each(function(){
			var $this = $(this);
			// on focus add cladd active to label
			$this.focus(function(){
				$this.next().addClass("active");
			});
			//on blur check field and remove class if needed
			$this.blur(function(){
				if($this.val() === '' || $this.val() === 'blank'){
					$this.next().removeClass();
				}
			});
		});
	}
	// just add a class of "floatLabel to the input field!"
	floatLabel(".floatLabel");
})(jQuery);
</script> %>

<script>
  $('.datepicker').datepicker()
</script>