<% provide(:title, "Challenges") %>
<p id="notice"><%= notice %></p>


<main id="main">
  <!-- ======= Works Section ======= -->
  <section class="section site-portfolio">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          <h2>Ready to challenge yourself?</h2>
          <p class="mb-0">Join millions of challenges around the world</p>
        </div>
        <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
          <div id="filters" class="filters">
            <a href="#" data-filter="*" class="active">All</a>
            <a href="#" data-filter=".Life">Life</a>
            <a href="#" data-filter=".Workout">Workout</a>
            <a href="#" data-filter=".Habbit">Habbit</a>
            <a href="#" data-filter=".Study">Study</a>
            <a href="#" data-filter=".philanthropy">Philanthropy</a>
          </div>
        </div>
      </div>

      <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        <% @challenges.each do |challenge| %>
          <div class="<%= challenge.category%> image-container col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="/challenges/<%=challenge.id%>" class="item-wrap fancybox">
              <div class="square img-hover-zoom">
                <img src="<%= challenge.pic_link %>" alt="Image" class="image horizontal"/>
                <div class="overlay">
                  <div class="text">
                    <h3><%= challenge.name %></h3>
                    <p style="color: #fed136; font-weight: bold;"><%= challenge.coins %> coins</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/add_btn'%>
  </section><!-- End  Works Section -->
</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>













<h1>Challenges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Coins</th>
      <th>Duration</th>
      <th>Participant number</th>
      <th>Failed number</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= link_to challenge.name, challenge %></td>
        <td><%= challenge.category %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.coins %></td>
        <td><%= challenge.duration %></td>
        <td><%= challenge.participant_number %></td>
        <td><%= challenge.failed_number %></td>
        <td><%= challenge.deadline %></td>
        <td><%= link_to 'Participate', "/participate/#{challenge.id}", class: 'readmore', method: :post %></td>
        <td><%= link_to 'Favorite', "/favorite/#{challenge.id}", class: 'readmore', method: :post %></td>
        <!-- <td><%= link_to 'Show', challenge %></td> -->
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <!-- <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'shared/add_btn'%>

<script>
  // $(window).on('load', function() {
  //   $('img').each(function(){
  //     //console.log($(this))
  //     //getDim($(this))
  //     if ($(this).width() > $(this).height()) {
  //       $(this).addClass("landscape")
  //     }
  //   })
  // })

  document.addEventListener("turbolinks:load", function() {
      $('img').each(function(){
      //console.log($(this))
      //getDim($(this))
      if ($(this).width() > $(this).height()) {
        $(this).addClass("landscape")
      }
    })
})
</script>