<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/rails_default'%>
    <%= render 'layouts/shim'%>
    <%#= render 'layouts/test'%>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header'%>
      <p style="margin-top:210px;padding:15px 15px 10px;"></p>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

      <!-- debugging use -->
      <%= debug(params) if Rails.env.development? %>

    </div>
  </body>
</html>
